<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prs.auth.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.prs.auth.entity.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nike_name" jdbcType="VARCHAR" property="nikeName"/>
        <result column="head_img" jdbcType="VARCHAR" property="headImg"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="updated" jdbcType="TIMESTAMP" property="updated"/>
    </resultMap>
    <sql id="Base_Column_List">
    t_user.id as t_user_id, t_user.user_name as t_user_user_name, t_user.nike_name as t_user_nike_name, 
    t_user.head_img as t_user_head_img, t_user.email as t_user_email, t_user.phone as t_user_phone, 
    t_user.age as t_user_age, t_user.gender as t_user_gender, t_user.`password` as `t_user_password`, 
    t_user.created as t_user_created, t_user.updated as t_user_updated
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user t_user
        where t_user.id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.prs.auth.entity.User"
            useGeneratedKeys="true">
    insert into t_user (user_name, nike_name, head_img, 
      email, phone, age, 
      gender, `password`, created, 
      updated)
    values (#{userName,jdbcType=VARCHAR}, #{nikeName,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{gender,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{updated,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.prs.auth.entity.User"
            useGeneratedKeys="true">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                user_name,
            </if>
            <if test="nikeName != null">
                nike_name,
            </if>
            <if test="headImg != null">
                head_img,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="updated != null">
                updated,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="nikeName != null">
                #{nikeName,jdbcType=VARCHAR},
            </if>
            <if test="headImg != null">
                #{headImg,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null">
                #{updated,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.prs.auth.entity.User">
        update t_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="nikeName != null">
                nike_name = #{nikeName,jdbcType=VARCHAR},
            </if>
            <if test="headImg != null">
                head_img = #{headImg,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null">
                updated = #{updated,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.prs.auth.entity.User">
    update t_user
    set user_name = #{userName,jdbcType=VARCHAR},
      nike_name = #{nikeName,jdbcType=VARCHAR},
      head_img = #{headImg,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      gender = #{gender,jdbcType=INTEGER},
      `password` = #{password,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="getUserByLoginName" resultMap="BaseResultMap">
    select * from t_user where user_name = #{loginName} or email =#{loginName} or phone=#{loginName}
  </select>
    <select id="getUserByUserName" resultMap="BaseResultMap">
         select * from t_user where user_name = #{userName}
    </select>
    <select id="getUserByEmail" resultMap="BaseResultMap">
         select * from t_user where email = #{email}
    </select>
    <select id="getUserByPhone" resultMap="BaseResultMap">
         select * from t_user where phone = #{phone}
    </select>
</mapper>